{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="form-container">
            <h2>Are you sure you want to delete your profile?</h2>
            <p>This action is irreversible. Once your profile is deleted, all your data will be permanently removed.</p>

            <form method="post">
                {% csrf_token %}

                <button type="submit" class="btn btn-danger">Yes, delete my profile</button>
            </form>

            <br>

            <a href="{% url 'profile' pk=request.user.pk %}" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
{% endblock %}
